<main class='page-container' >
  <div class='left-pane'>
    <div class='input-box'>
      <div class='input-icon'>
        <span class="material-symbols-outlined">search</span>
      </div>
      <input type="search">
    </div>
    <ul>
      <% @most_active.each do |stock| %>
        <%= link_to company_info_path(symbol: stock.symbol) do %>
          <li class ='card row-between'>
            <div class='row'>
              <%= image_tag company_logo(stock.symbol), class: 'stock-logo' %>
              <div class='col'>
                <p><%= stock.company_name %></p>
                <h5><%= stock.symbol %></h5>
              </div>
            </div>
            
            <div class='col-end'>
              <%= stock.latest_price %>
              <p class="percentage <%= percent_color(stock.change_percent) %>"><%= stock.change_percent %><p>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>

  </div>
  <div class='right-pane'>
  <div class='row-between'>
    <div class='row'>
      <%= image_tag @logo, class: 'stock-logo' %>
      <h2><%= @company_name %> ( <%= @company_symbol %> )</h2>
    </div>
    <div class='col-end'>
      <h5><%= @latest_price %></h5>
      <p class="percentage <%= percent_color(@change_percent) %>"><%= @change_percent %></p>
    </div>
  </div>
  </br>
  <p class='description'><%= @description %></p>
  <ul class='list-container'>
    <% @news.each do |article| %>
      <%= link_to article.url do %>
        <li>
          <p class='txt-s'><%=  format_date(article.datetime) %></p>
          <h5><%= article.headline %></h5>
          <p><%= slice_text(article.summary) %>...</p>
        </li>
      <% end %>
    <% end %>
  </ul>
  <div class='buy-container row-end'>
    <div class='input-box'>
      <div class='input-icon'>
        <span class="material-symbols-outlined">attach_money</span>
      </div>
      <input type="text" placeholder= '0.00'/>
    </div>
    <button class='btn-primary buy'>Buy</button>
  </div>
  </div>
</main>
