<h1>This is the Admin Page!</h1>
<h2><%= current_user.email %></h2>

<%= link_to 'Log Out', destroy_user_session_path, data: { turbo_method: :delete } %>

<%= link_to 'Pending', admin_pending_traders_path %>
<%= link_to 'Create', new_admin_user_path %>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Role</th>
      <th>Approved</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= user.approved? ? 'Approved' : 'Pending' %></td>
        <td>
          <%= link_to 'Edit', edit_admin_user_path(user) %>
          <%= link_to 'Show', admin_user_path(user) %>
          <%=
            link_to 'Delete',
                    admin_user_path(user),
                    data: {
                      'turbo-method': :delete,
                      'turbo-confirm': 'Are you sure?'
                    }
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
